{{#eq this.type "main"}}
  <div class="loader">
    <div class="sk-folding-cube">
      <div class="sk-cube1 sk-cube"></div>
      <div class="sk-cube2 sk-cube"></div>
      <div class="sk-cube4 sk-cube"></div>
      <div class="sk-cube3 sk-cube"></div>
    </div>
  </div>
{{/eq}}

{{#eq this.type "ajax"}}
  <div class="ajax-loader">
    <div class="cssload-square">
      <div class="cssload-square-part cssload-square-green"></div>
      <div class="cssload-square-part cssload-square-pink"></div>
      <div class="cssload-square-blend"></div>
    </div>
  </div>
{{/eq}}
