<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<!-- Meta tags for SEO -->
<meta name="description" content="" />
<meta name="keywords" content="" />

<title>{{title}}</title>
<!-- Meta for facebook -->
<meta property='og:title' content="{{title}}" />
<meta property='og:url' content="" />
<meta property='og:type' content="" />
<meta property='og:image' content="" />
<meta property='og:site_name' content="" />
<meta property='og:description' content="" />

<!-- Meta tags for SEO -->

<!-- Favicons -->
<!--  genrate all favicons images from  https://realfavicongenerator.net/ -->

<link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
<link rel="manifest" href="/images/favicons/manifest.json">
<link rel="mask-icon" href="/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/images/favicons/favicon.ico">
<meta name="msapplication-config" content="/images/favicons/browserconfig.xml">
<meta name="theme-color" content="#6e7980">
<!-- Favicons -->

{{!-- Font awesome for icons --}}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{{!-- css file --}}
<link rel="stylesheet" href="/styles/styles.css">

{{!-- JQuery --}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>