<header class="header">
  <div class="toggle-btn menu">
    <span></span>
  </div>
  <div class="logo">
    <a href="/">
      <img src="/images/logo.png" alt="">
    </a>
  </div>
  <div class="page-heading">
    <h1>{{title}}</h1>
  </div>
  <div class="cta">
    <a href="#">
      <i class="icon">
        {{> modules/icons name='settings' }}
      </i>
    </a>
    <a href="#">
      <i class="icon">
        {{> modules/icons name='logout' }}
      </i>
    </a>
  </div>
</header>