
<nav class="nav">
  <ul>
    <li>
      <a href="#">
        <span class="icon">
          <i class="fa fa-home"></i>
        </span>
        <span class="text">
          Home
        </span>
      </a>
    </li>
    <li>
      <a href="/docs">
        <span class="icon">
          <i class="fa fa-wpforms"></i>
        </span>
        <span class="text">
          Docs
        </span>
      </a>
      <div class="sub-nav">
        <ul>
          <li>
            <a href="/docs/form">Form</a>
          </li>
          <li>
            <a href="/docs/overlay">Overlay</a>
          </li>
          <li>
            <a href="/docs/breadcrumbs/Level-1/level-2">Breadcrumbs</a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</nav>

