{{!-- defined overlay --}}
{{> modules/overlay/open id="default" class="overlay-default" title="Default full screen overlay box" overlay_type="type-2"}}
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum aliquid asperiores aperiam quaerat, quo tenetur iste itaque voluptates voluptas sint nobis voluptatem inventore optio quos tempore. Omnis, eum? Laboriosam, atque.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate voluptas sunt porro consequatur cumque nihil non fugiat molestiae veniam quos, ullam quia nemo commodi temporibus, iusto dolor quasi. Amet, iure.</p>
{{> modules/overlay/close}}

{{!-- Calling Overlay --}}

<a href="javascript:void(0)" onclick="overlayBox('default')" class="box-btn secondary">Open Overlay </a>

