<div class="tab-holder">
  <div class="container">
    <div class="tab-links">
      <ul>
        <li class="active" data-target="tab1"> Tab 1 </li>
        <li class="" data-target="tab2"> Tab 2 </li>
        <li class="" data-target="tab3"> Tab 3 </li>
      </ul>
    </div>
    <div class="tab-results">
      <div class="tab active" id="tab1">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis libero placeat dignissimos molestias inventore deleniti autem obcaecati cum? Tempora, hic dolores. Ratione cumque harum, quae maxime quasi ipsum iste iusto.</p>
      </div>
      <div class="tab" id="tab2">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis libero placeat dignissimos molestias inventore deleniti
          autem obcaecati cum? Tempora, hic dolores. Ratione cumque harum, quae maxime quasi ipsum iste iusto.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis libero placeat dignissimos molestias inventore deleniti
          autem obcaecati cum? Tempora, hic dolores. Ratione cumque harum, quae maxime quasi ipsum iste iusto.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis libero placeat dignissimos molestias inventore deleniti
          autem obcaecati cum? Tempora, hic dolores. Ratione cumque harum, quae maxime quasi ipsum iste iusto.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis libero placeat dignissimos molestias inventore deleniti
          autem obcaecati cum? Tempora, hic dolores. Ratione cumque harum, quae maxime quasi ipsum iste iusto.</p>
      </div>
      <div class="tab" id="tab3">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis libero placeat dignissimos molestias inventore deleniti
          autem obcaecati cum? Tempora, hic dolores. Ratione cumque harum, quae maxime quasi ipsum iste iusto.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis libero placeat dignissimos molestias inventore deleniti
          autem obcaecati cum? Tempora, hic dolores. Ratione cumque harum, quae maxime quasi ipsum iste iusto.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis libero placeat dignissimos molestias inventore deleniti
          autem obcaecati cum? Tempora, hic dolores. Ratione cumque harum, quae maxime quasi ipsum iste iusto.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis libero placeat dignissimos molestias inventore deleniti
          autem obcaecati cum? Tempora, hic dolores. Ratione cumque harum, quae maxime quasi ipsum iste iusto.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis libero placeat dignissimos molestias inventore deleniti
          autem obcaecati cum? Tempora, hic dolores. Ratione cumque harum, quae maxime quasi ipsum iste iusto.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis libero placeat dignissimos molestias inventore deleniti
          autem obcaecati cum? Tempora, hic dolores. Ratione cumque harum, quae maxime quasi ipsum iste iusto.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis libero placeat dignissimos molestias inventore deleniti
          autem obcaecati cum? Tempora, hic dolores. Ratione cumque harum, quae maxime quasi ipsum iste iusto.</p>
      </div>
    </div>
  </div>
</div>

<div class="tab-holder">
  <div class="container">
    <div class="tab-links">
      <ul>
        <li class="active" data-target="tab1"> Tab 1 </li>
        <li class="" data-target="tab2"> Tab 2 </li>
        <li class="" data-target="tab3"> Tab 3 </li>
      </ul>
    </div>
    <div class="tab-results">
      <div class="tab active" id="tab1">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis libero placeat dignissimos molestias inventore deleniti
          autem obcaecati cum? Tempora, hic dolores. Ratione cumque harum, quae maxime quasi ipsum iste iusto.</p>
      </div>
      <div class="tab" id="tab2">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis libero placeat dignissimos molestias inventore deleniti
          autem obcaecati cum? Tempora, hic dolores. Ratione cumque harum, quae maxime quasi ipsum iste iusto.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis libero placeat dignissimos molestias inventore deleniti
          autem obcaecati cum? Tempora, hic dolores. Ratione cumque harum, quae maxime quasi ipsum iste iusto.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis libero placeat dignissimos molestias inventore deleniti
          autem obcaecati cum? Tempora, hic dolores. Ratione cumque harum, quae maxime quasi ipsum iste iusto.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis libero placeat dignissimos molestias inventore deleniti
          autem obcaecati cum? Tempora, hic dolores. Ratione cumque harum, quae maxime quasi ipsum iste iusto.</p>
      </div>
      <div class="tab" id="tab3">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis libero placeat dignissimos molestias inventore deleniti
          autem obcaecati cum? Tempora, hic dolores. Ratione cumque harum, quae maxime quasi ipsum iste iusto.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis libero placeat dignissimos molestias inventore deleniti
          autem obcaecati cum? Tempora, hic dolores. Ratione cumque harum, quae maxime quasi ipsum iste iusto.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis libero placeat dignissimos molestias inventore deleniti
          autem obcaecati cum? Tempora, hic dolores. Ratione cumque harum, quae maxime quasi ipsum iste iusto.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis libero placeat dignissimos molestias inventore deleniti
          autem obcaecati cum? Tempora, hic dolores. Ratione cumque harum, quae maxime quasi ipsum iste iusto.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis libero placeat dignissimos molestias inventore deleniti
          autem obcaecati cum? Tempora, hic dolores. Ratione cumque harum, quae maxime quasi ipsum iste iusto.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis libero placeat dignissimos molestias inventore deleniti
          autem obcaecati cum? Tempora, hic dolores. Ratione cumque harum, quae maxime quasi ipsum iste iusto.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis libero placeat dignissimos molestias inventore deleniti
          autem obcaecati cum? Tempora, hic dolores. Ratione cumque harum, quae maxime quasi ipsum iste iusto.</p>
      </div>
    </div>
  </div>
</div>